@use "sass:color";
$logoColor: #043c72;
$indigo: #0065ca;

$indigo-dark: color.adjust($indigo, $lightness: -15%);
$indigoExtraLight: rgba(0, 101, 202, 0.14);
$indigoLight: rgba(0, 101, 202, 0.8);
$indigoMediumLight: rgba(0, 101, 202, 0.7);
$skyBlue: #00aae7;
$skyBlueExtraLight: rgba(0, 170, 231, 0.24);
$rajahYellow: #fcbf60;
$rajahGold: #FFB700;
$ivoryGrey: #d9dad9;
$darkGrey: #777777;
$linkBlue: #00709d;
$errorRed: #c32a3a;
$warningOrange: #d65c0e;
$successGreen: #3aa82f;
$rajahLight: rgba(254, 201, 118, 0.9);
$rajahExtraLight: rgba(254, 201, 118, 0.2);
$textOnRajah: #3d3a44;
$pdfRed: #c90304;
