// Define custom font families because Vuetify uses Roboto by default.
// Creating custom variables that can be reused throughout our SCSS files.
$body-font-family: 'Proxima Nova', sans-serif;
$heading-font-family: 'Tiempos Headline', serif;
$btn-font-family: $body-font-family;

// Passing our custom SCSS variables to Vuetify's styles
// to ensure that Vuetify components use our specified fonts.
@use 'vuetify' with ($body-font-family: $body-font-family,
    $heading-font-family: $heading-font-family);
