# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.vite
node_modules/.cache
dist
tsconfig.paths.json

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# avoid a leaked .nuxt build folder
**/.nuxt/
